<div class="">

  <div class="bg_color px-2">
    <div>
      <h2 class="heading">SpaceX Launch Programs</h2>
    </div>
  <div class="row m-0">
    <!-- Filters -->
    <div class="col_3 mt-3 px-2">
      <div class="bg-white  ">
        <h3 class="pl-2">Filters </h3>
        <div class="">
          <div class="mt-4">
            <div class="filter_headings   text-center">
              <h4>Launch Year</h4>
            </div>
            <div class=" mx-auto width border_heading">
            </div>

            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2004' ? 'btn_color' : 'active'"
                 (click)="yearSort('2004')">2004</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2005' ? 'btn_color' : 'active'" (click)="yearSort('2005')">2005</button>
              </div>
            </div>
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2006' ? 'btn_color' : 'active'"
                 (click)="yearSort('2006')">2006</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2007' ? 'btn_color' : 'active'" (click)="yearSort('2007')">2007</button>
              </div>
            </div>
            
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2008' ? 'btn_color' : 'active'" (click)="yearSort('2008')">2008</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2009' ? 'btn_color' : 'active'" (click)="yearSort('2009')">2009</button>
              </div>
            </div>
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2010' ? 'btn_color' : 'active'" (click)="yearSort('2010')">2010</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2011' ? 'btn_color' : 'active'" (click)="yearSort('2011')">2011</button>
              </div>
            </div>
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2012' ? 'btn_color' : 'active'" (click)="yearSort('2012')">2012</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0"  [ngClass]="selectedLaunchYear  !== '2013' ? 'btn_color' : 'active'" (click)="yearSort('2013')">2013</button>
              </div>
            </div>

            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2014' ? 'btn_color' : 'active'" (click)="yearSort('2014')">2014</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2015' ? 'btn_color' : 'active'" (click)="yearSort('2015')">2015</button>
              </div>
            </div>

            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2016' ? 'btn_color' : 'active'" (click)="yearSort('2016')">2016</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2017' ? 'btn_color' : 'active'" (click)="yearSort('2017')">2017</button>
              </div>
            </div>
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2018' ? 'btn_color' : 'active'" (click)="yearSort('2018')">2018</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2019' ? 'btn_color' : 'active'" (click)="yearSort('2019')">2019</button>
              </div>
            </div>
            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  py-0" [ngClass]="selectedLaunchYear  !== '2020' ? 'btn_color' : 'active'" (click)="yearSort('2020')">2020</button>
              </div>

            </div>

          </div>


          <div class="mt-4">
            <div class="filter_headings   text-center">
              <h4>Successful Launch</h4>
            </div>
            <div class=" mx-auto width border_heading">
            </div>

            <div class="row m-0 ">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color  px-3 py-0"  (click)="launch(true)"  [ngClass]="{'active': stp==='stp1'}" (click)="stp='stp1'">True</button>
              </div>
              <div class="col__6 pl-2">
                <button class="float-left mt-3 btn btn_color px-3 py-0" (click)="launch(false)"[ngClass]="{'active': stp==='stp2'}" (click)="stp='stp2'">False</button>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="filter_headings   text-center">
              <h4>Successful Landing</h4>
            </div>
            <div class=" mx-auto width border_heading">
            </div>

            <div class="row m-0 mb-2">
              <div class="col__6 pr-2">
                <button class=" float-right mt-3 btn btn_color px-3 py-0" [ngClass]="{'active': step==='step20'}" (click)="step='step20'" (click)="land(true)">True</button>
              </div>
              <div class="col__6 pl-2 pb-3">
                <button class="float-left mt-3 btn btn_color px-3 py-0" [ngClass]="{'active': step==='step21'}" (click)="step='step21'" (click)="land(false)">False</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
      <!-- mission Tiles -->
      <div class="col_9">
        <div *ngIf="spacexRawData.length" class="row m-0">
          <div *ngFor="let spaceData of spacexRawData; let i= index" class="col_6  px-2 mt-3 ">
            <div class="bg-white">

            <div class="p-2">
              <div class="mt-2 text-center image_bg ">
                <img src="{{spaceData.links.mission_patch}}"  width="90%" height="80%" alt="Rocket image">
              </div>
            </div>
            <div class="pl-2">
              <p class="mission_fw mission_color">{{spaceData.mission_name}}#{{spaceData.flight_number}}</p>
              <p class="m-0 mission_fw">Mission Ids:</p>
              <ul>
                <div *ngFor="let idData of spaceData.mission_id;">
                <li class="mission_color">{{idData}}</li>
                </div>

              </ul>
              <p><span class="mission_fw">Launch Year:</span><span class="mission_color">{{spaceData.launch_year}}</span></p>
              <p><span class="mission_fw">Successfull Launch:</span><span class="mission_color">{{spaceData.launch_success}}</span></p>
              <p class="pb-5"><span class="mission_fw">Successfull Landing:</span>
                <span *ngFor="let iData of spaceData.rocket.first_stage.cores" class="mission_color">{{iData.land_success}}</span></p>

            </div>

          </div>
          </div>
        </div>
        <div *ngIf="!spacexRawData.length">
<h2 class="px-2 text-info mt-2">{{emptyApi}}</h2>
        </div>
      </div>
    
    </div>
    <div class="text-center">
      <p class="m-0"><span class="mission_fw">Developed By:</span><span class="mission_color">Rajat Bansal</span></p>
    </div>
  </div>
</div>